.premium {
    position: relative;
    margin-top: 16rem;
    color: var(--clr-white);
    border-radius: 12px;
    background-image: url(../images/bg-pattern-2.svg);
    background-color: var(--clr-text);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 75%;

    @media (min-width: 768px) {
        margin: 20rem 0 0;
        padding: 0 2.4rem;
        background-size: 40%;
        background-position: 22rem -3rem;
    }

    @media (min-width: 1000px) {
        padding: 0 10rem;
        background-position-x: 40%;
        background-size: 30%;
    }

    &__container {
        margin-top: -5rem;
        padding: 4.8rem 3.6rem;
        border-radius: 1.2rem;
        background-color: var(--clr-red);

        @media (min-width: 768px) {
            margin-top: 0;
            position: absolute;
            max-width: 40rem;
            right: 5rem;
            top: 15rem;
        }
        @media (min-width: 1000px) {
            max-width: 44rem;
            right: 10rem;
            top: 9rem;
        }
    }

    &__text {
        font-size: 1.8rem;
        line-height: 2.8rem;

        &:is(p) {
            margin: 2rem 0;
        }
    }

    &__illustration {
        position: relative;
        top: -10rem;
        max-width: 40%;
        margin: 0 auto;

        @media (min-width: 768px) {
            margin: 0;
            top: -12rem;
            left: 6.4rem;
            max-width: 27rem;
        }
    }

    &__price {
        margin: 3.4rem 0;
        display: inline-flex;
        align-items: center;
        gap: 1rem;
    
        strong {
            font-size: 6.5rem;
            line-height: 5.2rem;
        }
    
        .body-1 {
            letter-spacing: -0.2px;
        }
    }
}

.button-group {
    display: block;

    .button + .button {
        margin-top: 1.2rem;
    }
}